// padding-left classes
.pl-0-perc{
	padding-left: 0% !important;
}
.pl-1-perc{
	padding-left: 1% !important;
}
.pl-2-perc{
	padding-left: 2% !important;
}
.pl-3-perc{
	padding-left: 3% !important;
}
.pl-4-perc{
	padding-left: 4% !important;
}
.pl-5-perc{
	padding-left: 5% !important;
}
.pl-6-perc{
	padding-left: 6% !important;
}
.pl-7-perc{
	padding-left: 7% !important;
}
.pl-8-perc{
	padding-left: 8% !important;
}
.pl-9-perc{
	padding-left: 9% !important;
}
.pl-10-perc{
	padding-left: 10% !important;
}
.pl-15-perc{
	padding-left: 15% !important;
}
.pl-20-perc{
	padding-left: 20% !important;
}
.pl-25-perc{
	padding-left: 25% !important;
}

.pl-0-px{
	padding-left: 0px !important;
}
.pl-1-px{
	padding-left: 1px !important;
}
.pl-2-px{
	padding-left: 2px !important;
}
.pl-3-px{
	padding-left: 3px !important;
}
.pl-4-px{
	padding-left: 4px !important;
}
.pl-5-px{
	padding-left: 5px !important;
}
.pl-6-px{
	padding-left: 6px !important;
}
.pl-7-px{
	padding-left: 7px !important;
}
.pl-8-px{
	padding-left: 8px !important;
}
.pl-9-px{
	padding-left: 9px !important;
}
.pl-10-px{
	padding-left: 10px !important;
}
.pl-15-px{
	padding-left: 15px !important;
}
.pl-20-px{
	padding-left: 20px !important;
}

.pl-0-em{
	padding-left: 0em !important;
}
.pl-1-em{
	padding-left: 1em !important;
}
.pl-2-em{
	padding-left: 2em !important;
}
.pl-3-em{
	padding-left: 3em !important;
}
.pl-4-em{
	padding-left: 4em !important;
}
.pl-5-em{
	padding-left: 5em !important;
}
.pl-6-em{
	padding-left: 6em !important;
}
.pl-7-em{
	padding-left: 7em !important;
}
.pl-8-em{
	padding-left: 8em !important;
}
.pl-9-em{
	padding-left: 9em !important;
}
.pl-10-em{
	padding-left: 10em !important;
}
.pl-15-em{
	padding-left: 15em !important;
}
.pl-20-em{
	padding-left: 20em !important;
}
.pl-25-em{
	padding-left: 25em !important;
}

.pl-0-rem{
	padding-left: 0rem !important;
}
.pl-1-rem{
	padding-left: 1rem !important;
}
.pl-2-rem{
	padding-left: 2rem !important;
}
.pl-3-rem{
	padding-left: 3rem !important;
}
.pl-4-rem{
	padding-left: 4rem !important;
}
.pl-5-rem{
	padding-left: 5rem !important;
}
.pl-6-rem{
	padding-left: 6rem !important;
}
.pl-7-rem{
	padding-left: 7rem !important;
}
.pl-8-rem{
	padding-left: 8rem !important;
}
.pl-9-rem{
	padding-left: 9rem !important;
}
.pl-10-rem{
	padding-left: 10rem !important;
}
.pl-15-rem{
	padding-left: 15rem !important;
}
.pl-20-rem{
	padding-left: 20rem !important;
}
.pl-25-rem{
	padding-left: 25rem !important;
}

.pl-0-vh{
	padding-left: 0vh !important;
}
.pl-1-vh{
	padding-left: 1vh !important;
}
.pl-2-vh{
	padding-left: 2vh !important;
}
.pl-3-vh{
	padding-left: 3vh !important;
}
.pl-4-vh{
	padding-left: 4vh !important;
}
.pl-5-vh{
	padding-left: 5vh !important;
}
.pl-6-vh{
	padding-left: 6vh !important;
}
.pl-7-vh{
	padding-left: 7vh !important;
}
.pl-8-vh{
	padding-left: 8vh !important;
}
.pl-9-vh{
	padding-left: 9vh !important;
}
.pl-10-vh{
	padding-left: 10vh !important;
}
.pl-15-vh{
	padding-left: 15vh !important;
}
.pl-20-vh{
	padding-left: 20vh !important;
}
.pl-25-vh{
	padding-left: 25vh !important;
}

.pl-0-vw{
	padding-left: 0vw !important;
}
.pl-1-vw{
	padding-left: 1vw !important;
}
.pl-2-vw{
	padding-left: 2vw !important;
}
.pl-3-vw{
	padding-left: 3vw !important;
}
.pl-4-vw{
	padding-left: 4vw !important;
}
.pl-5-vw{
	padding-left: 5vw !important;
}
.pl-6-vw{
	padding-left: 6vw !important;
}
.pl-7-vw{
	padding-left: 7vw !important;
}
.pl-8-vw{
	padding-left: 8vw !important;
}
.pl-9-vw{
	padding-left: 9vw !important;
}
.pl-10-vw{
	padding-left: 10vw !important;
}
.pl-15-vw{
	padding-left: 15vw !important;
}
.pl-20-vw{
	padding-left: 20vw !important;
}
.pl-25-vw{
	padding-left: 25vw !important;
}

// padding-right classes
.pr-0-perc{
	padding-right: 0% !important;
}
.pr-1-perc{
	padding-right: 1% !important;
}
.pr-2-perc{
	padding-right: 2% !important;
}
.pr-3-perc{
	padding-right: 3% !important;
}
.pr-4-perc{
	padding-right: 4% !important;
}
.pr-5-perc{
	padding-right: 5% !important;
}
.pr-6-perc{
	padding-right: 6% !important;
}
.pr-7-perc{
	padding-right: 7% !important;
}
.pr-8-perc{
	padding-right: 8% !important;
}
.pr-9-perc{
	padding-right: 9% !important;
}
.pr-10-perc{
	padding-right: 10% !important;
}
.pr-15-perc{
	padding-right: 15% !important;
}
.pr-20-perc{
	padding-right: 20% !important;
}
.pr-25-perc{
	padding-right: 25% !important;
}

.pr-0-px{
	padding-right: 0px !important;
}
.pr-1-px{
	padding-right: 1px !important;
}
.pr-2-px{
	padding-right: 2px !important;
}
.pr-3-px{
	padding-right: 3px !important;
}
.pr-4-px{
	padding-right: 4px !important;
}
.pr-5-px{
	padding-right: 5px !important;
}
.pr-6-px{
	padding-right: 6px !important;
}
.pr-7-px{
	padding-right: 7px !important;
}
.pr-8-px{
	padding-right: 8px !important;
}
.pr-9-px{
	padding-right: 9px !important;
}
.pr-10-px{
	padding-right: 10px !important;
}
.pr-15-px{
	padding-right: 15px !important;
}
.pr-20-px{
	padding-right: 20px !important;
}

.pr-0-em{
	padding-right: 0em !important;
}
.pr-1-em{
	padding-right: 1em !important;
}
.pr-2-em{
	padding-right: 2em !important;
}
.pr-3-em{
	padding-right: 3em !important;
}
.pr-4-em{
	padding-right: 4em !important;
}
.pr-5-em{
	padding-right: 5em !important;
}
.pr-6-em{
	padding-right: 6em !important;
}
.pr-7-em{
	padding-right: 7em !important;
}
.pr-8-em{
	padding-right: 8em !important;
}
.pr-9-em{
	padding-right: 9em !important;
}
.pr-10-em{
	padding-right: 10em !important;
}
.pr-15-em{
	padding-right: 15em !important;
}
.pr-20-em{
	padding-right: 20em !important;
}
.pr-25-em{
	padding-right: 25em !important;
}

.pr-0-rem{
	padding-right: 0rem !important;
}
.pr-1-rem{
	padding-right: 1rem !important;
}
.pr-2-rem{
	padding-right: 2rem !important;
}
.pr-3-rem{
	padding-right: 3rem !important;
}
.pr-4-rem{
	padding-right: 4rem !important;
}
.pr-5-rem{
	padding-right: 5rem !important;
}
.pr-6-rem{
	padding-right: 6rem !important;
}
.pr-7-rem{
	padding-right: 7rem !important;
}
.pr-8-rem{
	padding-right: 8rem !important;
}
.pr-9-rem{
	padding-right: 9rem !important;
}
.pr-10-rem{
	padding-right: 10rem !important;
}
.pr-15-rem{
	padding-right: 15rem !important;
}
.pr-20-rem{
	padding-right: 20rem !important;
}
.pr-25-rem{
	padding-right: 25rem !important;
}

.pr-0-vh{
	padding-right: 0vh !important;
}
.pr-1-vh{
	padding-right: 1vh !important;
}
.pr-2-vh{
	padding-right: 2vh !important;
}
.pr-3-vh{
	padding-right: 3vh !important;
}
.pr-4-vh{
	padding-right: 4vh !important;
}
.pr-5-vh{
	padding-right: 5vh !important;
}
.pr-6-vh{
	padding-right: 6vh !important;
}
.pr-7-vh{
	padding-right: 7vh !important;
}
.pr-8-vh{
	padding-right: 8vh !important;
}
.pr-9-vh{
	padding-right: 9vh !important;
}
.pr-10-vh{
	padding-right: 10vh !important;
}
.pr-15-vh{
	padding-right: 15vh !important;
}
.pr-20-vh{
	padding-right: 20vh !important;
}
.pr-25-vh{
	padding-right: 25vh !important;
}

.pr-0-vw{
	padding-right: 0vw !important;
}
.pr-1-vw{
	padding-right: 1vw !important;
}
.pr-2-vw{
	padding-right: 2vw !important;
}
.pr-3-vw{
	padding-right: 3vw !important;
}
.pr-4-vw{
	padding-right: 4vw !important;
}
.pr-5-vw{
	padding-right: 5vw !important;
}
.pr-6-vw{
	padding-right: 6vw !important;
}
.pr-7-vw{
	padding-right: 7vw !important;
}
.pr-8-vw{
	padding-right: 8vw !important;
}
.pr-9-vw{
	padding-right: 9vw !important;
}
.pr-10-vw{
	padding-right: 10vw !important;
}
.pr-15-vw{
	padding-right: 15vw !important;
}
.pr-20-vw{
	padding-right: 20vw !important;
}
.pr-25-vw{
	padding-right: 25vw !important;
}

// padding-x classes
.px-0-perc{
	padding-left: 0% !important;
	padding-right: 0% !important;
}
.px-1-perc{
	padding-left: 1% !important;
	padding-right: 1% !important;
}
.px-2-perc{
	padding-left: 2% !important;
	padding-right: 2% !important;
}
.px-3-perc{
	padding-left: 3% !important;
	padding-right: 3% !important;
}
.px-4-perc{
	padding-left: 4% !important;
	padding-right: 4% !important;
}
.px-5-perc{
	padding-left: 5% !important;
	padding-right: 5% !important;
}
.px-6-perc{
	padding-left: 6% !important;
	padding-right: 6% !important;
}
.px-7-perc{
	padding-left: 7% !important;
	padding-right: 7% !important;
}
.px-8-perc{
	padding-left: 8% !important;
	padding-right: 8% !important;
}
.px-9-perc{
	padding-left: 9% !important;
	padding-right: 9% !important;
}
.px-10-perc{
	padding-left: 10% !important;
	padding-right: 10% !important;
}
.px-15-perc{
	padding-left: 15% !important;
	padding-right: 15% !important;
}
.px-20-perc{
	padding-left: 20% !important;
	padding-right: 20% !important;
}
.px-25-perc{
	padding-left: 25% !important;
	padding-right: 25% !important;
}

.px-0-px{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.px-1-px{
	padding-left: 1px !important;
	padding-right: 1px !important;
}
.px-2-px{
	padding-left: 2px !important;
	padding-right: 2px !important;
}
.px-3-px{
	padding-left: 3px !important;
	padding-right: 3px !important;
}
.px-4-px{
	padding-left: 4px !important;
	padding-right: 4px !important;
}
.px-5-px{
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.px-6-px{
	padding-left: 6px !important;
	padding-right: 6px !important;
}
.px-7-px{
	padding-left: 7px !important;
	padding-right: 7px !important;
}
.px-8-px{
	padding-left: 8px !important;
	padding-right: 8px !important;
}
.px-9-px{
	padding-left: 9px !important;
	padding-right: 9px !important;
}
.px-10-px{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.px-15-px{
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.px-20-px{
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.px-25-px{
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.px-0-em{
	padding-left: 0em !important;
	padding-right: 0em !important;
}
.px-1-em{
	padding-left: 1em !important;
	padding-right: 1em !important;
}
.px-2-em{
	padding-left: 2em !important;
	padding-right: 2em !important;
}
.px-3-em{
	padding-left: 3em !important;
	padding-right: 3em !important;
}
.px-4-em{
	padding-left: 4em !important;
	padding-right: 4em !important;
}
.px-5-em{
	padding-left: 5em !important;
	padding-right: 5em !important;
}
.px-6-em{
	padding-left: 6em !important;
	padding-right: 6em !important;
}
.px-7-em{
	padding-left: 7em !important;
	padding-right: 7em !important;
}
.px-8-em{
	padding-left: 8em !important;
	padding-right: 8em !important;
}
.px-9-em{
	padding-left: 9em !important;
	padding-right: 9em !important;
}
.px-10-em{
	padding-left: 10em !important;
	padding-right: 10em !important;
}
.px-15-em{
	padding-left: 15em !important;
	padding-right: 15em !important;
}
.px-20-em{
	padding-left: 20em !important;
	padding-right: 20em !important;
}
.px-25-em{
	padding-left: 25em !important;
	padding-right: 25em !important;
}

.px-0-rem{
	padding-left: 0rem !important;
	padding-right: 0rem !important;
}
.px-1-rem{
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}
.px-2-rem{
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
.px-3-rem{
	padding-left: 3rem !important;
	padding-right: 3rem !important;
}
.px-4-rem{
	padding-left: 4rem !important;
	padding-right: 4rem !important;
}
.px-5-rem{
	padding-left: 5rem !important;
	padding-right: 5rem !important;
}
.px-6-rem{
	padding-left: 6rem !important;
	padding-right: 6rem !important;
}
.px-7-rem{
	padding-left: 7rem !important;
	padding-right: 7rem !important;
}
.px-8-rem{
	padding-left: 8rem !important;
	padding-right: 8rem !important;
}
.px-9-rem{
	padding-left: 9rem !important;
	padding-right: 9rem !important;
}
.px-10-rem{
	padding-left: 10rem !important;
	padding-right: 10rem !important;
}
.px-15-rem{
	padding-left: 15rem !important;
	padding-right: 15rem !important;
}
.px-20-rem{
	padding-left: 20rem !important;
	padding-right: 20rem !important;
}
.px-25-rem{
	padding-left: 25rem !important;
	padding-right: 25rem !important;
}

.px-0-vh{
	padding-left: 0vh !important;
	padding-right: 0vh !important;
}
.px-1-vh{
	padding-left: 1vh !important;
	padding-right: 1vh !important;
}
.px-2-vh{
	padding-left: 2vh !important;
	padding-right: 2vh !important;
}
.px-3-vh{
	padding-left: 3vh !important;
	padding-right: 3vh !important;
}
.px-4-vh{
	padding-left: 4vh !important;
	padding-right: 4vh !important;
}
.px-5-vh{
	padding-left: 5vh !important;
	padding-right: 5vh !important;
}
.px-6-vh{
	padding-left: 6vh !important;
	padding-right: 6vh !important;
}
.px-7-vh{
	padding-left: 7vh !important;
	padding-right: 7vh !important;
}
.px-8-vh{
	padding-left: 8vh !important;
	padding-right: 8vh !important;
}
.px-9-vh{
	padding-left: 9vh !important;
	padding-right: 9vh !important;
}
.px-10-vh{
	padding-left: 10vh !important;
	padding-right: 10vh !important;
}
.px-15-vh{
	padding-left: 15vh !important;
	padding-right: 15vh !important;
}
.px-20-vh{
	padding-left: 20vh !important;
	padding-right: 20vh !important;
}
.px-25-vh{
	padding-left: 25vh !important;
	padding-right: 25vh !important;
}

.px-0-vw{
	padding-left: 0vw !important;
	padding-right: 0vw !important;
}
.px-1-vw{
	padding-left: 1vw !important;
	padding-right: 1vw !important;
}
.px-2-vw{
	padding-left: 2vw !important;
	padding-right: 2vw !important;
}
.px-3-vw{
	padding-left: 3vw !important;
	padding-right: 3vw !important;
}
.px-4-vw{
	padding-left: 4vw !important;
	padding-right: 4vw !important;
}
.px-5-vw{
	padding-left: 5vw !important;
	padding-right: 5vw !important;
}
.px-6-vw{
	padding-left: 6vw !important;
	padding-right: 6vw !important;
}
.px-7-vw{
	padding-left: 7vw !important;
	padding-right: 7vw !important;
}
.px-8-vw{
	padding-left: 8vw !important;
	padding-right: 8vw !important;
}
.px-9-vw{
	padding-left: 9vw !important;
	padding-right: 9vw !important;
}
.px-10-vw{
	padding-left: 10vw !important;
	padding-right: 10vw !important;
}
.px-15-vw{
	padding-left: 15vw !important;
	padding-right: 15vw !important;
}
.px-20-vw{
	padding-left: 20vw !important;
	padding-right: 20vw !important;
}
.px-25-vw{
	padding-left: 25vw !important;
	padding-right: 25vw !important;
}

// padding-top classes
.pt-0-perc{
	padding-top: 0% !important;
}
.pt-1-perc{
	padding-top: 1% !important;
}
.pt-2-perc{
	padding-top: 2% !important;
}
.pt-3-perc{
	padding-top: 3% !important;
}
.pt-4-perc{
	padding-top: 4% !important;
}
.pt-5-perc{
	padding-top: 5% !important;
}
.pt-6-perc{
	padding-top: 6% !important;
}
.pt-7-perc{
	padding-top: 7% !important;
}
.pt-8-perc{
	padding-top: 8% !important;
}
.pt-9-perc{
	padding-top: 9% !important;
}
.pt-10-perc{
	padding-top: 10% !important;
}
.pt-15-perc{
	padding-top: 15% !important;
}
.pt-20-perc{
	padding-top: 20% !important;
}
.pt-25-perc{
	padding-top: 25% !important;
}

.pt-0-px{
	padding-top: 0px !important;
}
.pt-1-px{
	padding-top: 1px !important;
}
.pt-2-px{
	padding-top: 2px !important;
}
.pt-3-px{
	padding-top: 3px !important;
}
.pt-4-px{
	padding-top: 4px !important;
}
.pt-5-px{
	padding-top: 5px !important;
}
.pt-6-px{
	padding-top: 6px !important;
}
.pt-7-px{
	padding-top: 7px !important;
}
.pt-8-px{
	padding-top: 8px !important;
}
.pt-9-px{
	padding-top: 9px !important;
}
.pt-10-px{
	padding-top: 10px !important;
}
.pt-15-px{
	padding-top: 15px !important;
}
.pt-20-px{
	padding-top: 20px !important;
}

.pt-0-em{
	padding-top: 0em !important;
}
.pt-1-em{
	padding-top: 1em !important;
}
.pt-2-em{
	padding-top: 2em !important;
}
.pt-3-em{
	padding-top: 3em !important;
}
.pt-4-em{
	padding-top: 4em !important;
}
.pt-5-em{
	padding-top: 5em !important;
}
.pt-6-em{
	padding-top: 6em !important;
}
.pt-7-em{
	padding-top: 7em !important;
}
.pt-8-em{
	padding-top: 8em !important;
}
.pt-9-em{
	padding-top: 9em !important;
}
.pt-10-em{
	padding-top: 10em !important;
}
.pt-15-em{
	padding-top: 15em !important;
}
.pt-20-em{
	padding-top: 20em !important;
}
.pt-25-em{
	padding-top: 25em !important;
}

.pt-0-rem{
	padding-top: 0rem !important;
}
.pt-1-rem{
	padding-top: 1rem !important;
}
.pt-2-rem{
	padding-top: 2rem !important;
}
.pt-3-rem{
	padding-top: 3rem !important;
}
.pt-4-rem{
	padding-top: 4rem !important;
}
.pt-5-rem{
	padding-top: 5rem !important;
}
.pt-6-rem{
	padding-top: 6rem !important;
}
.pt-7-rem{
	padding-top: 7rem !important;
}
.pt-8-rem{
	padding-top: 8rem !important;
}
.pt-9-rem{
	padding-top: 9rem !important;
}
.pt-10-rem{
	padding-top: 10rem !important;
}
.pt-15-rem{
	padding-top: 15rem !important;
}
.pt-20-rem{
	padding-top: 20rem !important;
}
.pt-25-rem{
	padding-top: 25rem !important;
}

.pt-0-vh{
	padding-top: 0vh !important;
}
.pt-1-vh{
	padding-top: 1vh !important;
}
.pt-2-vh{
	padding-top: 2vh !important;
}
.pt-3-vh{
	padding-top: 3vh !important;
}
.pt-4-vh{
	padding-top: 4vh !important;
}
.pt-5-vh{
	padding-top: 5vh !important;
}
.pt-6-vh{
	padding-top: 6vh !important;
}
.pt-7-vh{
	padding-top: 7vh !important;
}
.pt-8-vh{
	padding-top: 8vh !important;
}
.pt-9-vh{
	padding-top: 9vh !important;
}
.pt-10-vh{
	padding-top: 10vh !important;
}
.pt-15-vh{
	padding-top: 15vh !important;
}
.pt-20-vh{
	padding-top: 20vh !important;
}
.pt-25-vh{
	padding-top: 25vh !important;
}

.pt-0-vw{
	padding-top: 0vw !important;
}
.pt-1-vw{
	padding-top: 1vw !important;
}
.pt-2-vw{
	padding-top: 2vw !important;
}
.pt-3-vw{
	padding-top: 3vw !important;
}
.pt-4-vw{
	padding-top: 4vw !important;
}
.pt-5-vw{
	padding-top: 5vw !important;
}
.pt-6-vw{
	padding-top: 6vw !important;
}
.pt-7-vw{
	padding-top: 7vw !important;
}
.pt-8-vw{
	padding-top: 8vw !important;
}
.pt-9-vw{
	padding-top: 9vw !important;
}
.pt-10-vw{
	padding-top: 10vw !important;
}
.pt-15-vw{
	padding-top: 15vw !important;
}
.pt-20-vw{
	padding-top: 20vw !important;
}
.pt-25-vw{
	padding-top: 25vw !important;
}

// padding-bottom classes
.pb-0-perc{
	padding-bottom: 0% !important;
}
.pb-1-perc{
	padding-bottom: 1% !important;
}
.pb-2-perc{
	padding-bottom: 2% !important;
}
.pb-3-perc{
	padding-bottom: 3% !important;
}
.pb-4-perc{
	padding-bottom: 4% !important;
}
.pb-5-perc{
	padding-bottom: 5% !important;
}
.pb-6-perc{
	padding-bottom: 6% !important;
}
.pb-7-perc{
	padding-bottom: 7% !important;
}
.pb-8-perc{
	padding-bottom: 8% !important;
}
.pb-9-perc{
	padding-bottom: 9% !important;
}
.pb-10-perc{
	padding-bottom: 10% !important;
}
.pb-15-perc{
	padding-bottom: 15% !important;
}
.pb-20-perc{
	padding-bottom: 20% !important;
}
.pb-25-perc{
	padding-bottom: 25% !important;
}

.pb-0-px{
	padding-bottom: 0px !important;
}
.pb-1-px{
	padding-bottom: 1px !important;
}
.pb-2-px{
	padding-bottom: 2px !important;
}
.pb-3-px{
	padding-bottom: 3px !important;
}
.pb-4-px{
	padding-bottom: 4px !important;
}
.pb-5-px{
	padding-bottom: 5px !important;
}
.pb-6-px{
	padding-bottom: 6px !important;
}
.pb-7-px{
	padding-bottom: 7px !important;
}
.pb-8-px{
	padding-bottom: 8px !important;
}
.pb-9-px{
	padding-bottom: 9px !important;
}
.pb-10-px{
	padding-bottom: 10px !important;
}
.pb-15-px{
	padding-bottom: 15px !important;
}
.pb-20-px{
	padding-bottom: 20px !important;
}
.pb-25-px{
	padding-bottom: 25px !important;
}

.pb-0-em{
	padding-bottom: 0em !important;
}
.pb-1-em{
	padding-bottom: 1em !important;
}
.pb-2-em{
	padding-bottom: 2em !important;
}
.pb-3-em{
	padding-bottom: 3em !important;
}
.pb-4-em{
	padding-bottom: 4em !important;
}
.pb-5-em{
	padding-bottom: 5em !important;
}
.pb-6-em{
	padding-bottom: 6em !important;
}
.pb-7-em{
	padding-bottom: 7em !important;
}
.pb-8-em{
	padding-bottom: 8em !important;
}
.pb-9-em{
	padding-bottom: 9em !important;
}
.pb-10-em{
	padding-bottom: 10em !important;
}
.pb-15-em{
	padding-bottom: 15em !important;
}
.pb-20-em{
	padding-bottom: 20em !important;
}
.pb-25-em{
	padding-bottom: 25em !important;
}

.pb-0-rem{
	padding-bottom: 0rem !important;
}
.pb-1-rem{
	padding-bottom: 1rem !important;
}
.pb-2-rem{
	padding-bottom: 2rem !important;
}
.pb-3-rem{
	padding-bottom: 3rem !important;
}
.pb-4-rem{
	padding-bottom: 4rem !important;
}
.pb-5-rem{
	padding-bottom: 5rem !important;
}
.pb-6-rem{
	padding-bottom: 6rem !important;
}
.pb-7-rem{
	padding-bottom: 7rem !important;
}
.pb-8-rem{
	padding-bottom: 8rem !important;
}
.pb-9-rem{
	padding-bottom: 9rem !important;
}
.pb-10-rem{
	padding-bottom: 10rem !important;
}
.pb-15-rem{
	padding-bottom: 15rem !important;
}
.pb-20-rem{
	padding-bottom: 20rem !important;
}
.pb-25-rem{
	padding-bottom: 25rem !important;
}

.pb-0-vh{
	padding-bottom: 0vh !important;
}
.pb-1-vh{
	padding-bottom: 1vh !important;
}
.pb-2-vh{
	padding-bottom: 2vh !important;
}
.pb-3-vh{
	padding-bottom: 3vh !important;
}
.pb-4-vh{
	padding-bottom: 4vh !important;
}
.pb-5-vh{
	padding-bottom: 5vh !important;
}
.pb-6-vh{
	padding-bottom: 6vh !important;
}
.pb-7-vh{
	padding-bottom: 7vh !important;
}
.pb-8-vh{
	padding-bottom: 8vh !important;
}
.pb-9-vh{
	padding-bottom: 9vh !important;
}
.pb-10-vh{
	padding-bottom: 10vh !important;
}
.pb-15-vh{
	padding-bottom: 15vh !important;
}
.pb-20-vh{
	padding-bottom: 20vh !important;
}
.pb-25-vh{
	padding-bottom: 25vh !important;
}

.pb-0-vw{
	padding-bottom: 0vw !important;
}
.pb-1-vw{
	padding-bottom: 1vw !important;
}
.pb-2-vw{
	padding-bottom: 2vw !important;
}
.pb-3-vw{
	padding-bottom: 3vw !important;
}
.pb-4-vw{
	padding-bottom: 4vw !important;
}
.pb-5-vw{
	padding-bottom: 5vw !important;
}
.pb-6-vw{
	padding-bottom: 6vw !important;
}
.pb-7-vw{
	padding-bottom: 7vw !important;
}
.pb-8-vw{
	padding-bottom: 8vw !important;
}
.pb-9-vw{
	padding-bottom: 9vw !important;
}
.pb-10-vw{
	padding-bottom: 10vw !important;
}
.pb-15-vw{
	padding-bottom: 15vw !important;
}
.pb-20-vw{
	padding-bottom: 20vw !important;
}
.pb-25-vw{
	padding-bottom: 25vw !important;
}

// padding-y classes
.py-0-perc{
	padding-top: 0% !important;
	padding-bottom: 0% !important;
}
.py-1-perc{
	padding-top: 1% !important;
	padding-bottom: 1% !important;
}
.py-2-perc{
	padding-top: 2% !important;
	padding-bottom: 2% !important;
}
.py-3-perc{
	padding-top: 3% !important;
	padding-bottom: 3% !important;
}
.py-4-perc{
	padding-top: 4% !important;
	padding-bottom: 4% !important;
}
.py-5-perc{
	padding-top: 5% !important;
	padding-bottom: 5% !important;
}
.py-6-perc{
	padding-top: 6% !important;
	padding-bottom: 6% !important;
}
.py-7-perc{
	padding-top: 7% !important;
	padding-bottom: 7% !important;
}
.py-8-perc{
	padding-top: 8% !important;
	padding-bottom: 8% !important;
}
.py-9-perc{
	padding-top: 9% !important;
	padding-bottom: 9% !important;
}
.py-10-perc{
	padding-top: 10% !important;
	padding-bottom: 10% !important;
}
.py-15-perc{
	padding-top: 15% !important;
	padding-bottom: 15% !important;
}
.py-20-perc{
	padding-top: 20% !important;
	padding-bottom: 20% !important;
}
.py-25-perc{
	padding-top: 25% !important;
	padding-bottom: 25% !important;
}

.py-0-px{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.py-1-px{
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}
.py-2-px{
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}
.py-3-px{
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
.py-4-px{
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
.py-5-px{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.py-6-px{
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}
.py-7-px{
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}
.py-8-px{
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}
.py-9-px{
	padding-top: 9px !important;
	padding-bottom: 9px !important;
}
.py-10-px{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.py-15-px{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
.py-20-px{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.py-25-px{
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

.py-0-em{
	padding-top: 0em !important;
	padding-bottom: 0em !important;
}
.py-1-em{
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}
.py-2-em{
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}
.py-3-em{
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}
.py-4-em{
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}
.py-5-em{
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}
.py-6-em{
	padding-top: 6em !important;
	padding-bottom: 6em !important;
}
.py-7-em{
	padding-top: 7em !important;
	padding-bottom: 7em !important;
}
.py-8-em{
	padding-top: 8em !important;
	padding-bottom: 8em !important;
}
.py-9-em{
	padding-top: 9em !important;
	padding-bottom: 9em !important;
}
.py-10-em{
	padding-top: 10em !important;
	padding-bottom: 10em !important;
}
.py-15-em{
	padding-top: 15em !important;
	padding-bottom: 15em !important;
}
.py-20-em{
	padding-top: 20em !important;
	padding-bottom: 20em !important;
}
.py-25-em{
	padding-top: 25em !important;
	padding-bottom: 25em !important;
}

.py-0-rem{
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
}
.py-1-rem{
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.py-2-rem{
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}
.py-3-rem{
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
.py-4-rem{
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
}
.py-5-rem{
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}
.py-6-rem{
	padding-top: 6rem !important;
	padding-bottom: 6rem !important;
}
.py-7-rem{
	padding-top: 7rem !important;
	padding-bottom: 7rem !important;
}
.py-8-rem{
	padding-top: 8rem !important;
	padding-bottom: 8rem !important;
}
.py-9-rem{
	padding-top: 9rem !important;
	padding-bottom: 9rem !important;
}
.py-10-rem{
	padding-top: 10rem !important;
	padding-bottom: 10rem !important;
}
.py-15-rem{
	padding-top: 15rem !important;
	padding-bottom: 15rem !important;
}
.py-20-rem{
	padding-top: 20rem !important;
	padding-bottom: 20rem !important;
}
.py-25-rem{
	padding-top: 25rem !important;
	padding-bottom: 25rem !important;
}

.py-0-vh{
	padding-top: 0vh !important;
	padding-bottom: 0vh !important;
}
.py-1-vh{
	padding-top: 1vh !important;
	padding-bottom: 1vh !important;
}
.py-2-vh{
	padding-top: 2vh !important;
	padding-bottom: 2vh !important;
}
.py-3-vh{
	padding-top: 3vh !important;
	padding-bottom: 3vh !important;
}
.py-4-vh{
	padding-top: 4vh !important;
	padding-bottom: 4vh !important;
}
.py-5-vh{
	padding-top: 5vh !important;
	padding-bottom: 5vh !important;
}
.py-6-vh{
	padding-top: 6vh !important;
	padding-bottom: 6vh !important;
}
.py-7-vh{
	padding-top: 7vh !important;
	padding-bottom: 7vh !important;
}
.py-8-vh{
	padding-top: 8vh !important;
	padding-bottom: 8vh !important;
}
.py-9-vh{
	padding-top: 9vh !important;
	padding-bottom: 9vh !important;
}
.py-10-vh{
	padding-top: 10vh !important;
	padding-bottom: 10vh !important;
}
.py-15-vh{
	padding-top: 15vh !important;
	padding-bottom: 15vh !important;
}
.py-20-vh{
	padding-top: 20vh !important;
	padding-bottom: 20vh !important;
}
.py-25-vh{
	padding-top: 25vh !important;
	padding-bottom: 25vh !important;
}

.py-0-vw{
	padding-top: 0vw !important;
	padding-bottom: 0vw !important;
}
.py-1-vw{
	padding-top: 1vw !important;
	padding-bottom: 1vw !important;
}
.py-2-vw{
	padding-top: 2vw !important;
	padding-bottom: 2vw !important;
}
.py-3-vw{
	padding-top: 3vw !important;
	padding-bottom: 3vw !important;
}
.py-4-vw{
	padding-top: 4vw !important;
	padding-bottom: 4vw !important;
}
.py-5-vw{
	padding-top: 5vw !important;
	padding-bottom: 5vw !important;
}
.py-6-vw{
	padding-top: 6vw !important;
	padding-bottom: 6vw !important;
}
.py-7-vw{
	padding-top: 7vw !important;
	padding-bottom: 7vw !important;
}
.py-8-vw{
	padding-top: 8vw !important;
	padding-bottom: 8vw !important;
}
.py-9-vw{
	padding-top: 9vw !important;
	padding-bottom: 9vw !important;
}
.py-10-vw{
	padding-top: 10vw !important;
	padding-bottom: 10vw !important;
}
.py-15-vw{
	padding-top: 15vw !important;
	padding-bottom: 15vw !important;
}
.py-20-vw{
	padding-top: 20vw !important;
	padding-bottom: 20vw !important;
}
.py-25-vw{
	padding-top: 25vw !important;
	padding-bottom: 25vw !important;
}

// margin-left classes
.ml-0-perc{
	margin-left: 0% !important;
}
.ml-1-perc{
	margin-left: 1% !important;
}
.ml-2-perc{
	margin-left: 2% !important;
}
.ml-3-perc{
	margin-left: 3% !important;
}
.ml-4-perc{
	margin-left: 4% !important;
}
.ml-5-perc{
	margin-left: 5% !important;
}
.ml-6-perc{
	margin-left: 6% !important;
}
.ml-7-perc{
	margin-left: 7% !important;
}
.ml-8-perc{
	margin-left: 8% !important;
}
.ml-9-perc{
	margin-left: 9% !important;
}
.ml-10-perc{
	margin-left: 10% !important;
}
.ml-15-perc{
	margin-left: 15% !important;
}
.ml-20-perc{
	margin-left: 20% !important;
}
.ml-25-perc{
	margin-left: 25% !important;
}

.ml-0-px{
	margin-left: 0px !important;
}
.ml-1-px{
	margin-left: 1px !important;
}
.ml-2-px{
	margin-left: 2px !important;
}
.ml-3-px{
	margin-left: 3px !important;
}
.ml-4-px{
	margin-left: 4px !important;
}
.ml-5-px{
	margin-left: 5px !important;
}
.ml-6-px{
	margin-left: 6px !important;
}
.ml-7-px{
	margin-left: 7px !important;
}
.ml-8-px{
	margin-left: 8px !important;
}
.ml-9-px{
	margin-left: 9px !important;
}
.ml-10-px{
	margin-left: 10px !important;
}
.ml-15-px{
	margin-left: 15px !important;
}
.ml-20-px{
	margin-left: 20px !important;
}
.ml-25-px{
	margin-left: 25px !important;
}

.ml-0-em{
	margin-left: 0em !important;
}
.ml-1-em{
	margin-left: 1em !important;
}
.ml-2-em{
	margin-left: 2em !important;
}
.ml-3-em{
	margin-left: 3em !important;
}
.ml-4-em{
	margin-left: 4em !important;
}
.ml-5-em{
	margin-left: 5em !important;
}
.ml-6-em{
	margin-left: 6em !important;
}
.ml-7-em{
	margin-left: 7em !important;
}
.ml-8-em{
	margin-left: 8em !important;
}
.ml-9-em{
	margin-left: 9em !important;
}
.ml-10-em{
	margin-left: 10em !important;
}
.ml-15-em{
	margin-left: 15em !important;
}
.ml-20-em{
	margin-left: 20em !important;
}
.ml-25-em{
	margin-left: 25em !important;
}

.ml-0-rem{
	margin-left: 0rem !important;
}
.ml-1-rem{
	margin-left: 1rem !important;
}
.ml-2-rem{
	margin-left: 2rem !important;
}
.ml-3-rem{
	margin-left: 3rem !important;
}
.ml-4-rem{
	margin-left: 4rem !important;
}
.ml-5-rem{
	margin-left: 5rem !important;
}
.ml-6-rem{
	margin-left: 6rem !important;
}
.ml-7-rem{
	margin-left: 7rem !important;
}
.ml-8-rem{
	margin-left: 8rem !important;
}
.ml-9-rem{
	margin-left: 9rem !important;
}
.ml-10-rem{
	margin-left: 10rem !important;
}
.ml-15-rem{
	margin-left: 15rem !important;
}
.ml-20-rem{
	margin-left: 20rem !important;
}
.ml-25-rem{
	margin-left: 25rem !important;
}

.ml-0-vh{
	margin-left: 0vh !important;
}
.ml-1-vh{
	margin-left: 1vh !important;
}
.ml-2-vh{
	margin-left: 2vh !important;
}
.ml-3-vh{
	margin-left: 3vh !important;
}
.ml-4-vh{
	margin-left: 4vh !important;
}
.ml-5-vh{
	margin-left: 5vh !important;
}
.ml-6-vh{
	margin-left: 6vh !important;
}
.ml-7-vh{
	margin-left: 7vh !important;
}
.ml-8-vh{
	margin-left: 8vh !important;
}
.ml-9-vh{
	margin-left: 9vh !important;
}
.ml-10-vh{
	margin-left: 10vh !important;
}
.ml-15-vh{
	margin-left: 15vh !important;
}
.ml-20-vh{
	margin-left: 20vh !important;
}
.ml-25-vh{
	margin-left: 25vh !important;
}

.ml-0-vw{
	margin-left: 0vw !important;
}
.ml-1-vw{
	margin-left: 1vw !important;
}
.ml-2-vw{
	margin-left: 2vw !important;
}
.ml-3-vw{
	margin-left: 3vw !important;
}
.ml-4-vw{
	margin-left: 4vw !important;
}
.ml-5-vw{
	margin-left: 5vw !important;
}
.ml-6-vw{
	margin-left: 6vw !important;
}
.ml-7-vw{
	margin-left: 7vw !important;
}
.ml-8-vw{
	margin-left: 8vw !important;
}
.ml-9-vw{
	margin-left: 9vw !important;
}
.ml-10-vw{
	margin-left: 10vw !important;
}
.ml-15-vw{
	margin-left: 15vw !important;
}
.ml-20-vw{
	margin-left: 20vw !important;
}
.ml-25-vw{
	margin-left: 25vw !important;
}

// margin-right classes
.mr-0-perc{
	margin-right: 0% !important;
}
.mr-1-perc{
	margin-right: 1% !important;
}
.mr-2-perc{
	margin-right: 2% !important;
}
.mr-3-perc{
	margin-right: 3% !important;
}
.mr-4-perc{
	margin-right: 4% !important;
}
.mr-5-perc{
	margin-right: 5% !important;
}
.mr-6-perc{
	margin-right: 6% !important;
}
.mr-7-perc{
	margin-right: 7% !important;
}
.mr-8-perc{
	margin-right: 8% !important;
}
.mr-9-perc{
	margin-right: 9% !important;
}
.mr-10-perc{
	margin-right: 10% !important;
}
.mr-15-perc{
	margin-right: 15% !important;
}
.mr-20-perc{
	margin-right: 20% !important;
}
.mr-25-perc{
	margin-right: 25% !important;
}

.mr-0-px{
	margin-right: 0px !important;
}
.mr-1-px{
	margin-right: 1px !important;
}
.mr-2-px{
	margin-right: 2px !important;
}
.mr-3-px{
	margin-right: 3px !important;
}
.mr-4-px{
	margin-right: 4px !important;
}
.mr-5-px{
	margin-right: 5px !important;
}
.mr-6-px{
	margin-right: 6px !important;
}
.mr-7-px{
	margin-right: 7px !important;
}
.mr-8-px{
	margin-right: 8px !important;
}
.mr-9-px{
	margin-right: 9px !important;
}
.mr-10-px{
	margin-right: 10px !important;
}
.mr-15-px{
	margin-right: 15px !important;
}
.mr-20-px{
	margin-right: 20px !important;
}
.mr-25-px{
	margin-right: 25px !important;
}

.mr-0-em{
	margin-right: 0em !important;
}
.mr-1-em{
	margin-right: 1em !important;
}
.mr-2-em{
	margin-right: 2em !important;
}
.mr-3-em{
	margin-right: 3em !important;
}
.mr-4-em{
	margin-right: 4em !important;
}
.mr-5-em{
	margin-right: 5em !important;
}
.mr-6-em{
	margin-right: 6em !important;
}
.mr-7-em{
	margin-right: 7em !important;
}
.mr-8-em{
	margin-right: 8em !important;
}
.mr-9-em{
	margin-right: 9em !important;
}
.mr-10-em{
	margin-right: 10em !important;
}
.mr-15-em{
	margin-right: 15em !important;
}
.mr-20-em{
	margin-right: 20em !important;
}
.mr-25-em{
	margin-right: 25em !important;
}

.mr-0-rem{
	margin-right: 0rem !important;
}
.mr-1-rem{
	margin-right: 1rem !important;
}
.mr-2-rem{
	margin-right: 2rem !important;
}
.mr-3-rem{
	margin-right: 3rem !important;
}
.mr-4-rem{
	margin-right: 4rem !important;
}
.mr-5-rem{
	margin-right: 5rem !important;
}
.mr-6-rem{
	margin-right: 6rem !important;
}
.mr-7-rem{
	margin-right: 7rem !important;
}
.mr-8-rem{
	margin-right: 8rem !important;
}
.mr-9-rem{
	margin-right: 9rem !important;
}
.mr-10-rem{
	margin-right: 10rem !important;
}
.mr-15-rem{
	margin-right: 15rem !important;
}
.mr-20-rem{
	margin-right: 20rem !important;
}
.mr-25-rem{
	margin-right: 25rem !important;
}

.mr-0-vh{
	margin-right: 0vh !important;
}
.mr-1-vh{
	margin-right: 1vh !important;
}
.mr-2-vh{
	margin-right: 2vh !important;
}
.mr-3-vh{
	margin-right: 3vh !important;
}
.mr-4-vh{
	margin-right: 4vh !important;
}
.mr-5-vh{
	margin-right: 5vh !important;
}
.mr-6-vh{
	margin-right: 6vh !important;
}
.mr-7-vh{
	margin-right: 7vh !important;
}
.mr-8-vh{
	margin-right: 8vh !important;
}
.mr-9-vh{
	margin-right: 9vh !important;
}
.mr-10-vh{
	margin-right: 10vh !important;
}
.mr-15-vh{
	margin-right: 15vh !important;
}
.mr-20-vh{
	margin-right: 20vh !important;
}
.mr-25-vh{
	margin-right: 25vh !important;
}

.mr-0-vw{
	margin-right: 0vw !important;
}
.mr-1-vw{
	margin-right: 1vw !important;
}
.mr-2-vw{
	margin-right: 2vw !important;
}
.mr-3-vw{
	margin-right: 3vw !important;
}
.mr-4-vw{
	margin-right: 4vw !important;
}
.mr-5-vw{
	margin-right: 5vw !important;
}
.mr-6-vw{
	margin-right: 6vw !important;
}
.mr-7-vw{
	margin-right: 7vw !important;
}
.mr-8-vw{
	margin-right: 8vw !important;
}
.mr-9-vw{
	margin-right: 9vw !important;
}
.mr-10-vw{
	margin-right: 10vw !important;
}
.mr-15-vw{
	margin-right: 15vw !important;
}
.mr-20-vw{
	margin-right: 20vw !important;
}
.mr-25-vw{
	margin-right: 25vw !important;
}

// margin-x classes
.mx-0-perc{
	margin-left: 0% !important;
	margin-right: 0% !important;
}
.mx-1-perc{
	margin-left: 1% !important;
	margin-right: 1% !important;
}
.mx-2-perc{
	margin-left: 2% !important;
	margin-right: 2% !important;
}
.mx-3-perc{
	margin-left: 3% !important;
	margin-right: 3% !important;
}
.mx-4-perc{
	margin-left: 4% !important;
	margin-right: 4% !important;
}
.mx-5-perc{
	margin-left: 5% !important;
	margin-right: 5% !important;
}
.mx-6-perc{
	margin-left: 6% !important;
	margin-right: 6% !important;
}
.mx-7-perc{
	margin-left: 7% !important;
	margin-right: 7% !important;
}
.mx-8-perc{
	margin-left: 8% !important;
	margin-right: 8% !important;
}
.mx-9-perc{
	margin-left: 9% !important;
	margin-right: 9% !important;
}
.mx-10-perc{
	margin-left: 10% !important;
	margin-right: 10% !important;
}
.mx-15-perc{
	margin-left: 15% !important;
	margin-right: 15% !important;
}
.mx-20-perc{
	margin-left: 20% !important;
	margin-right: 20% !important;
}
.mx-25-perc{
	margin-left: 25% !important;
	margin-right: 25% !important;
}

.mx-0-px{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.mx-1-px{
	margin-left: 1px !important;
	margin-right: 1px !important;
}
.mx-2-px{
	margin-left: 2px !important;
	margin-right: 2px !important;
}
.mx-3-px{
	margin-left: 3px !important;
	margin-right: 3px !important;
}
.mx-4-px{
	margin-left: 4px !important;
	margin-right: 4px !important;
}
.mx-5-px{
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.mx-6-px{
	margin-left: 6px !important;
	margin-right: 6px !important;
}
.mx-7-px{
	margin-left: 7px !important;
	margin-right: 7px !important;
}
.mx-8-px{
	margin-left: 8px !important;
	margin-right: 8px !important;
}
.mx-9-px{
	margin-left: 9px !important;
	margin-right: 9px !important;
}
.mx-10-px{
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.mx-15-px{
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.mx-20-px{
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.mx-25-px{
	margin-left: 25px !important;
	margin-right: 25px !important;
}

.mx-0-em{
	margin-left: 0em !important;
	margin-right: 0em !important;
}
.mx-1-em{
	margin-left: 1em !important;
	margin-right: 1em !important;
}
.mx-2-em{
	margin-left: 2em !important;
	margin-right: 2em !important;
}
.mx-3-em{
	margin-left: 3em !important;
	margin-right: 3em !important;
}
.mx-4-em{
	margin-left: 4em !important;
	margin-right: 4em !important;
}
.mx-5-em{
	margin-left: 5em !important;
	margin-right: 5em !important;
}
.mx-6-em{
	margin-left: 6em !important;
	margin-right: 6em !important;
}
.mx-7-em{
	margin-left: 7em !important;
	margin-right: 7em !important;
}
.mx-8-em{
	margin-left: 8em !important;
	margin-right: 8em !important;
}
.mx-9-em{
	margin-left: 9em !important;
	margin-right: 9em !important;
}
.mx-10-em{
	margin-left: 10em !important;
	margin-right: 10em !important;
}
.mx-15-em{
	margin-left: 15em !important;
	margin-right: 15em !important;
}
.mx-20-em{
	margin-left: 20em !important;
	margin-right: 20em !important;
}
.mx-25-em{
	margin-left: 25em !important;
	margin-right: 25em !important;
}

.mx-0-rem{
	margin-left: 0rem !important;
	margin-right: 0rem !important;
}
.mx-1-rem{
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}
.mx-2-rem{
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}
.mx-3-rem{
	margin-left: 3rem !important;
	margin-right: 3rem !important;
}
.mx-4-rem{
	margin-left: 4rem !important;
	margin-right: 4rem !important;
}
.mx-5-rem{
	margin-left: 5rem !important;
	margin-right: 5rem !important;
}
.mx-6-rem{
	margin-left: 6rem !important;
	margin-right: 6rem !important;
}
.mx-7-rem{
	margin-left: 7rem !important;
	margin-right: 7rem !important;
}
.mx-8-rem{
	margin-left: 8rem !important;
	margin-right: 8rem !important;
}
.mx-9-rem{
	margin-left: 9rem !important;
	margin-right: 9rem !important;
}
.mx-10-rem{
	margin-left: 10rem !important;
	margin-right: 10rem !important;
}
.mx-15-rem{
	margin-left: 15rem !important;
	margin-right: 15rem !important;
}
.mx-20-rem{
	margin-left: 20rem !important;
	margin-right: 20rem !important;
}
.mx-25-rem{
	margin-left: 25rem !important;
	margin-right: 25rem !important;
}

.mx-0-vh{
	margin-left: 0vh !important;
	margin-right: 0vh !important;
}
.mx-1-vh{
	margin-left: 1vh !important;
	margin-right: 1vh !important;
}
.mx-2-vh{
	margin-left: 2vh !important;
	margin-right: 2vh !important;
}
.mx-3-vh{
	margin-left: 3vh !important;
	margin-right: 3vh !important;
}
.mx-4-vh{
	margin-left: 4vh !important;
	margin-right: 4vh !important;
}
.mx-5-vh{
	margin-left: 5vh !important;
	margin-right: 5vh !important;
}
.mx-6-vh{
	margin-left: 6vh !important;
	margin-right: 6vh !important;
}
.mx-7-vh{
	margin-left: 7vh !important;
	margin-right: 7vh !important;
}
.mx-8-vh{
	margin-left: 8vh !important;
	margin-right: 8vh !important;
}
.mx-9-vh{
	margin-left: 9vh !important;
	margin-right: 9vh !important;
}
.mx-10-vh{
	margin-left: 10vh !important;
	margin-right: 10vh !important;
}
.mx-15-vh{
	margin-left: 15vh !important;
	margin-right: 15vh !important;
}
.mx-20-vh{
	margin-left: 20vh !important;
	margin-right: 20vh !important;
}
.mx-25-vh{
	margin-left: 25vh !important;
	margin-right: 25vh !important;
}

.mx-0-vw{
	margin-left: 0vw !important;
	margin-right: 0vw !important;
}
.mx-1-vw{
	margin-left: 1vw !important;
	margin-right: 1vw !important;
}
.mx-2-vw{
	margin-left: 2vw !important;
	margin-right: 2vw !important;
}
.mx-3-vw{
	margin-left: 3vw !important;
	margin-right: 3vw !important;
}
.mx-4-vw{
	margin-left: 4vw !important;
	margin-right: 4vw !important;
}
.mx-5-vw{
	margin-left: 5vw !important;
	margin-right: 5vw !important;
}
.mx-6-vw{
	margin-left: 6vw !important;
	margin-right: 6vw !important;
}
.mx-7-vw{
	margin-left: 7vw !important;
	margin-right: 7vw !important;
}
.mx-8-vw{
	margin-left: 8vw !important;
	margin-right: 8vw !important;
}
.mx-9-vw{
	margin-left: 9vw !important;
	margin-right: 9vw !important;
}
.mx-10-vw{
	margin-left: 10vw !important;
	margin-right: 10vw !important;
}
.mx-15-vw{
	margin-left: 15vw !important;
	margin-right: 15vw !important;
}
.mx-20-vw{
	margin-left: 20vw !important;
	margin-right: 20vw !important;
}
.mx-25-vw{
	margin-left: 25vw !important;
	margin-right: 25vw !important;
}

// margin-top classes
.mt-0-perc{
	margin-top: 0% !important;
}
.mt-1-perc{
	margin-top: 1% !important;
}
.mt-2-perc{
	margin-top: 2% !important;
}
.mt-3-perc{
	margin-top: 3% !important;
}
.mt-4-perc{
	margin-top: 4% !important;
}
.mt-5-perc{
	margin-top: 5% !important;
}
.mt-6-perc{
	margin-top: 6% !important;
}
.mt-7-perc{
	margin-top: 7% !important;
}
.mt-8-perc{
	margin-top: 8% !important;
}
.mt-9-perc{
	margin-top: 9% !important;
}
.mt-10-perc{
	margin-top: 10% !important;
}
.mt-15-perc{
	margin-top: 15% !important;
}
.mt-20-perc{
	margin-top: 20% !important;
}
.mt-25-perc{
	margin-top: 25% !important;
}

.mt-0-px{
	margin-top: 0px !important;
}
.mt-1-px{
	margin-top: 1px !important;
}
.mt-2-px{
	margin-top: 2px !important;
}
.mt-3-px{
	margin-top: 3px !important;
}
.mt-4-px{
	margin-top: 4px !important;
}
.mt-5-px{
	margin-top: 5px !important;
}
.mt-6-px{
	margin-top: 6px !important;
}
.mt-7-px{
	margin-top: 7px !important;
}
.mt-8-px{
	margin-top: 8px !important;
}
.mt-9-px{
	margin-top: 9px !important;
}
.mt-10-px{
	margin-top: 10px !important;
}
.mt-15-px{
	margin-top: 15px !important;
}
.mt-20-px{
	margin-top: 20px !important;
}
.mt-25-px{
	margin-top: 25px !important;
}

.mt-0-em{
	margin-top: 0em !important;
}
.mt-1-em{
	margin-top: 1em !important;
}
.mt-2-em{
	margin-top: 2em !important;
}
.mt-3-em{
	margin-top: 3em !important;
}
.mt-4-em{
	margin-top: 4em !important;
}
.mt-5-em{
	margin-top: 5em !important;
}
.mt-6-em{
	margin-top: 6em !important;
}
.mt-7-em{
	margin-top: 7em !important;
}
.mt-8-em{
	margin-top: 8em !important;
}
.mt-9-em{
	margin-top: 9em !important;
}
.mt-10-em{
	margin-top: 10em !important;
}
.mt-15-em{
	margin-top: 15em !important;
}
.mt-20-em{
	margin-top: 20em !important;
}
.mt-25-em{
	margin-top: 25em !important;
}

.mt-0-rem{
	margin-top: 0rem !important;
}
.mt-1-rem{
	margin-top: 1rem !important;
}
.mt-2-rem{
	margin-top: 2rem !important;
}
.mt-3-rem{
	margin-top: 3rem !important;
}
.mt-4-rem{
	margin-top: 4rem !important;
}
.mt-5-rem{
	margin-top: 5rem !important;
}
.mt-6-rem{
	margin-top: 6rem !important;
}
.mt-7-rem{
	margin-top: 7rem !important;
}
.mt-8-rem{
	margin-top: 8rem !important;
}
.mt-9-rem{
	margin-top: 9rem !important;
}
.mt-10-rem{
	margin-top: 10rem !important;
}
.mt-15-rem{
	margin-top: 15rem !important;
}
.mt-20-rem{
	margin-top: 20rem !important;
}
.mt-25-rem{
	margin-top: 25rem !important;
}

.mt-0-vh{
	margin-top: 0vh !important;
}
.mt-1-vh{
	margin-top: 1vh !important;
}
.mt-2-vh{
	margin-top: 2vh !important;
}
.mt-3-vh{
	margin-top: 3vh !important;
}
.mt-4-vh{
	margin-top: 4vh !important;
}
.mt-5-vh{
	margin-top: 5vh !important;
}
.mt-6-vh{
	margin-top: 6vh !important;
}
.mt-7-vh{
	margin-top: 7vh !important;
}
.mt-8-vh{
	margin-top: 8vh !important;
}
.mt-9-vh{
	margin-top: 9vh !important;
}
.mt-10-vh{
	margin-top: 10vh !important;
}
.mt-15-vh{
	margin-top: 15vh !important;
}
.mt-20-vh{
	margin-top: 20vh !important;
}
.mt-25-vh{
	margin-top: 25vh !important;
}

.mt-0-vw{
	margin-top: 0vw !important;
}
.mt-1-vw{
	margin-top: 1vw !important;
}
.mt-2-vw{
	margin-top: 2vw !important;
}
.mt-3-vw{
	margin-top: 3vw !important;
}
.mt-4-vw{
	margin-top: 4vw !important;
}
.mt-5-vw{
	margin-top: 5vw !important;
}
.mt-6-vw{
	margin-top: 6vw !important;
}
.mt-7-vw{
	margin-top: 7vw !important;
}
.mt-8-vw{
	margin-top: 8vw !important;
}
.mt-9-vw{
	margin-top: 9vw !important;
}
.mt-10-vw{
	margin-top: 10vw !important;
}
.mt-15-vw{
	margin-top: 15vw !important;
}
.mt-20-vw{
	margin-top: 20vw !important;
}
.mt-25-vw{
	margin-top: 25vw !important;
}

// margin-bottom classes
.mb-0-perc{
	margin-bottom: 0% !important;
}
.mb-1-perc{
	margin-bottom: 1% !important;
}
.mb-2-perc{
	margin-bottom: 2% !important;
}
.mb-3-perc{
	margin-bottom: 3% !important;
}
.mb-4-perc{
	margin-bottom: 4% !important;
}
.mb-5-perc{
	margin-bottom: 5% !important;
}
.mb-6-perc{
	margin-bottom: 6% !important;
}
.mb-7-perc{
	margin-bottom: 7% !important;
}
.mb-8-perc{
	margin-bottom: 8% !important;
}
.mb-9-perc{
	margin-bottom: 9% !important;
}
.mb-10-perc{
	margin-bottom: 10% !important;
}
.mb-15-perc{
	margin-bottom: 15% !important;
}
.mb-20-perc{
	margin-bottom: 20% !important;
}
.mb-25-perc{
	margin-bottom: 25% !important;
}

.mb-0-px{
	margin-bottom: 0px !important;
}
.mb-1-px{
	margin-bottom: 1px !important;
}
.mb-2-px{
	margin-bottom: 2px !important;
}
.mb-3-px{
	margin-bottom: 3px !important;
}
.mb-4-px{
	margin-bottom: 4px !important;
}
.mb-5-px{
	margin-bottom: 5px !important;
}
.mb-6-px{
	margin-bottom: 6px !important;
}
.mb-7-px{
	margin-bottom: 7px !important;
}
.mb-8-px{
	margin-bottom: 8px !important;
}
.mb-9-px{
	margin-bottom: 9px !important;
}
.mb-10-px{
	margin-bottom: 10px !important;
}
.mb-15-px{
	margin-bottom: 15px !important;
}
.mb-20-px{
	margin-bottom: 20px !important;
}
.mb-25-px{
	margin-bottom: 25px !important;
}

.mb-0-em{
	margin-bottom: 0em !important;
}
.mb-1-em{
	margin-bottom: 1em !important;
}
.mb-2-em{
	margin-bottom: 2em !important;
}
.mb-3-em{
	margin-bottom: 3em !important;
}
.mb-4-em{
	margin-bottom: 4em !important;
}
.mb-5-em{
	margin-bottom: 5em !important;
}
.mb-6-em{
	margin-bottom: 6em !important;
}
.mb-7-em{
	margin-bottom: 7em !important;
}
.mb-8-em{
	margin-bottom: 8em !important;
}
.mb-9-em{
	margin-bottom: 9em !important;
}
.mb-10-em{
	margin-bottom: 10em !important;
}
.mb-15-em{
	margin-bottom: 15em !important;
}
.mb-20-em{
	margin-bottom: 20em !important;
}
.mb-25-em{
	margin-bottom: 25em !important;
}

.mb-0-rem{
	margin-bottom: 0rem !important;
}
.mb-1-rem{
	margin-bottom: 1rem !important;
}
.mb-2-rem{
	margin-bottom: 2rem !important;
}
.mb-3-rem{
	margin-bottom: 3rem !important;
}
.mb-4-rem{
	margin-bottom: 4rem !important;
}
.mb-5-rem{
	margin-bottom: 5rem !important;
}
.mb-6-rem{
	margin-bottom: 6rem !important;
}
.mb-7-rem{
	margin-bottom: 7rem !important;
}
.mb-8-rem{
	margin-bottom: 8rem !important;
}
.mb-9-rem{
	margin-bottom: 9rem !important;
}
.mb-10-rem{
	margin-bottom: 10rem !important;
}
.mb-15-rem{
	margin-bottom: 15rem !important;
}
.mb-20-rem{
	margin-bottom: 20rem !important;
}
.mb-25-rem{
	margin-bottom: 25rem !important;
}

.mb-0-vh{
	margin-bottom: 0vh !important;
}
.mb-1-vh{
	margin-bottom: 1vh !important;
}
.mb-2-vh{
	margin-bottom: 2vh !important;
}
.mb-3-vh{
	margin-bottom: 3vh !important;
}
.mb-4-vh{
	margin-bottom: 4vh !important;
}
.mb-5-vh{
	margin-bottom: 5vh !important;
}
.mb-6-vh{
	margin-bottom: 6vh !important;
}
.mb-7-vh{
	margin-bottom: 7vh !important;
}
.mb-8-vh{
	margin-bottom: 8vh !important;
}
.mb-9-vh{
	margin-bottom: 9vh !important;
}
.mb-10-vh{
	margin-bottom: 10vh !important;
}
.mb-15-vh{
	margin-bottom: 15vh !important;
}
.mb-20-vh{
	margin-bottom: 20vh !important;
}
.mb-25-vh{
	margin-bottom: 25vh !important;
}

.mb-0-vw{
	margin-bottom: 0vw !important;
}
.mb-1-vw{
	margin-bottom: 1vw !important;
}
.mb-2-vw{
	margin-bottom: 2vw !important;
}
.mb-3-vw{
	margin-bottom: 3vw !important;
}
.mb-4-vw{
	margin-bottom: 4vw !important;
}
.mb-5-vw{
	margin-bottom: 5vw !important;
}
.mb-6-vw{
	margin-bottom: 6vw !important;
}
.mb-7-vw{
	margin-bottom: 7vw !important;
}
.mb-8-vw{
	margin-bottom: 8vw !important;
}
.mb-9-vw{
	margin-bottom: 9vw !important;
}
.mb-10-vw{
	margin-bottom: 10vw !important;
}
.mb-15-vw{
	margin-bottom: 15vw !important;
}
.mb-20-vw{
	margin-bottom: 20vw !important;
}
.mb-25-vw{
	margin-bottom: 25vw !important;
}

// margin-y classes
.my-0-perc{
	margin-top: 0% !important;
	margin-bottom: 0% !important;
}
.my-1-perc{
	margin-top: 1% !important;
	margin-bottom: 1% !important;
}
.my-2-perc{
	margin-top: 2% !important;
	margin-bottom: 2% !important;
}
.my-3-perc{
	margin-top: 3% !important;
	margin-bottom: 3% !important;
}
.my-4-perc{
	margin-top: 4% !important;
	margin-bottom: 4% !important;
}
.my-5-perc{
	margin-top: 5% !important;
	margin-bottom: 5% !important;
}
.my-6-perc{
	margin-top: 6% !important;
	margin-bottom: 6% !important;
}
.my-7-perc{
	margin-top: 7% !important;
	margin-bottom: 7% !important;
}
.my-8-perc{
	margin-top: 8% !important;
	margin-bottom: 8% !important;
}
.my-9-perc{
	margin-top: 9% !important;
	margin-bottom: 9% !important;
}
.my-10-perc{
	margin-top: 10% !important;
	margin-bottom: 10% !important;
}
.my-15-perc{
	margin-top: 15% !important;
	margin-bottom: 15% !important;
}
.my-20-perc{
	margin-top: 20% !important;
	margin-bottom: 20% !important;
}
.my-25-perc{
	margin-top: 25% !important;
	margin-bottom: 25% !important;
}

.my-0-px{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.my-1-px{
	margin-top: 1px !important;
	margin-bottom: 1px !important;
}
.my-2-px{
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}
.my-3-px{
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}
.my-4-px{
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}
.my-5-px{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.my-6-px{
	margin-top: 6px !important;
	margin-bottom: 6px !important;
}
.my-7-px{
	margin-top: 7px !important;
	margin-bottom: 7px !important;
}
.my-8-px{
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}
.my-9-px{
	margin-top: 9px !important;
	margin-bottom: 9px !important;
}
.my-10-px{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.my-15-px{
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
.my-20-px{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.my-25-px{
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}

.my-0-em{
	margin-top: 0em !important;
	margin-bottom: 0em !important;
}
.my-1-em{
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}
.my-2-em{
	margin-top: 2em !important;
	margin-bottom: 2em !important;
}
.my-3-em{
	margin-top: 3em !important;
	margin-bottom: 3em !important;
}
.my-4-em{
	margin-top: 4em !important;
	margin-bottom: 4em !important;
}
.my-5-em{
	margin-top: 5em !important;
	margin-bottom: 5em !important;
}
.my-6-em{
	margin-top: 6em !important;
	margin-bottom: 6em !important;
}
.my-7-em{
	margin-top: 7em !important;
	margin-bottom: 7em !important;
}
.my-8-em{
	margin-top: 8em !important;
	margin-bottom: 8em !important;
}
.my-9-em{
	margin-top: 9em !important;
	margin-bottom: 9em !important;
}
.my-10-em{
	margin-top: 10em !important;
	margin-bottom: 10em !important;
}
.my-15-em{
	margin-top: 15em !important;
	margin-bottom: 15em !important;
}
.my-20-em{
	margin-top: 20em !important;
	margin-bottom: 20em !important;
}
.my-25-em{
	margin-top: 25em !important;
	margin-bottom: 25em !important;
}

.my-0-rem{
	margin-top: 0rem !important;
	margin-bottom: 0rem !important;
}
.my-1-rem{
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}
.my-2-rem{
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}
.my-3-rem{
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}
.my-4-rem{
	margin-top: 4rem !important;
	margin-bottom: 4rem !important;
}
.my-5-rem{
	margin-top: 5rem !important;
	margin-bottom: 5rem !important;
}
.my-6-rem{
	margin-top: 6rem !important;
	margin-bottom: 6rem !important;
}
.my-7-rem{
	margin-top: 7rem !important;
	margin-bottom: 7rem !important;
}
.my-8-rem{
	margin-top: 8rem !important;
	margin-bottom: 8rem !important;
}
.my-9-rem{
	margin-top: 9rem !important;
	margin-bottom: 9rem !important;
}
.my-10-rem{
	margin-top: 10rem !important;
	margin-bottom: 10rem !important;
}
.my-15-rem{
	margin-top: 15rem !important;
	margin-bottom: 15rem !important;
}
.my-20-rem{
	margin-top: 20rem !important;
	margin-bottom: 20rem !important;
}
.my-25-rem{
	margin-top: 25rem !important;
	margin-bottom: 25rem !important;
}

.my-0-vh{
	margin-top: 0vh !important;
	margin-bottom: 0vh !important;
}
.my-1-vh{
	margin-top: 1vh !important;
	margin-bottom: 1vh !important;
}
.my-2-vh{
	margin-top: 2vh !important;
	margin-bottom: 2vh !important;
}
.my-3-vh{
	margin-top: 3vh !important;
	margin-bottom: 3vh !important;
}
.my-4-vh{
	margin-top: 4vh !important;
	margin-bottom: 4vh !important;
}
.my-5-vh{
	margin-top: 5vh !important;
	margin-bottom: 5vh !important;
}
.my-6-vh{
	margin-top: 6vh !important;
	margin-bottom: 6vh !important;
}
.my-7-vh{
	margin-top: 7vh !important;
	margin-bottom: 7vh !important;
}
.my-8-vh{
	margin-top: 8vh !important;
	margin-bottom: 8vh !important;
}
.my-9-vh{
	margin-top: 9vh !important;
	margin-bottom: 9vh !important;
}
.my-10-vh{
	margin-top: 10vh !important;
	margin-bottom: 10vh !important;
}
.my-15-vh{
	margin-top: 15vh !important;
	margin-bottom: 15vh !important;
}
.my-20-vh{
	margin-top: 20vh !important;
	margin-bottom: 20vh !important;
}
.my-25-vh{
	margin-top: 25vh !important;
	margin-bottom: 25vh !important;
}

.my-0-vw{
	margin-top: 0vw !important;
	margin-bottom: 0vw !important;
}
.my-1-vw{
	margin-top: 1vw !important;
	margin-bottom: 1vw !important;
}
.my-2-vw{
	margin-top: 2vw !important;
	margin-bottom: 2vw !important;
}
.my-3-vw{
	margin-top: 3vw !important;
	margin-bottom: 3vw !important;
}
.my-4-vw{
	margin-top: 4vw !important;
	margin-bottom: 4vw !important;
}
.my-5-vw{
	margin-top: 5vw !important;
	margin-bottom: 5vw !important;
}
.my-6-vw{
	margin-top: 6vw !important;
	margin-bottom: 6vw !important;
}
.my-7-vw{
	margin-top: 7vw !important;
	margin-bottom: 7vw !important;
}
.my-8-vw{
	margin-top: 8vw !important;
	margin-bottom: 8vw !important;
}
.my-9-vw{
	margin-top: 9vw !important;
	margin-bottom: 9vw !important;
}
.my-10-vw{
	margin-top: 10vw !important;
	margin-bottom: 10vw !important;
}
.my-15-vw{
	margin-top: 15vw !important;
	margin-bottom: 15vw !important;
}
.my-20-vw{
	margin-top: 20vw !important;
	margin-bottom: 20vw !important;
}
.my-25-vw{
	margin-top: 25vw !important;
	margin-bottom: 25vw !important;
}