.txt-xxt{
	font-size: 2rem; // 32px
}
.txt.xt{
	font-size: 1.5rem; // 24px
}
.txt-lg{
	font-size: 1.25rem; // 20px
}
.txt-md{
	font-size: 1.125rem; // 18px
}
.txt-sm{
	font-size: 0.875rem; // 14px
}
.txt-xs{
	font-size: 0.75rem; // 12px
}
.txt-xxs{
	font-size: 0.625rem; // 10px
}